.w3-black        {color:#FFFFFF!important;background-color:#000000!important}
.w3-blue         {color:#FFFFFF!important;background-color:#0000AA!important}
.w3-green        {color:#FFFFFF!important;background-color:#00AA00!important}
.w3-cyan         {color:#FFFFFF!important;background-color:#00AAAA!important}
.w3-red          {color:#FFFFFF!important;background-color:#AA0000!important}
.w3-magenta      {color:#FFFFFF!important;background-color:#AA00AA!important}
.w3-yellow       {color:#FFFFFF!important;background-color:#AA5500!important}
.w3-brown        {color:#FFFFFF!important;background-color:#AA5500!important}
.w3-white        {color:#FFFFFF!important;background-color:#AAAAAA!important}
.w3-gray         {color:#000000!important;background-color:#AAAAAA!important}
.w3-dark-gray    {color:#FFFFFF!important;background-color:#555555!important}
.w3-light-black  {color:#FFFFFF!important;background-color:#555555!important}
.w3-light-blue   {color:#FFFFFF!important;background-color:#5555FF!important}
.w3-light-green  {color:#000000!important;background-color:#55FF55!important}
.w3-light-cyan   {color:#000000!important;background-color:#55FFFF!important}
.w3-light-red    {color:#000000!important;background-color:#FF5555!important}
.w3-light-magenta{color:#000000!important;background-color:#FF55FF!important}
.w3-light-yellow {color:#000000!important;background-color:#FFFF55!important}
.w3-light-white  {color:#000000!important;background-color:#FFFFFF!important}
